@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@using IsaProject.Models.Users
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@model IEnumerable<IsaProject.Models.Entities.Adventure.Adventure>

@{
    ViewData["Title"] = "GetMyAdventures";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css" rel="stylesheet">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/bootstrap-table.min.css">
<link rel="stylesheet" type="text/css" href="http://bootstrap-table.wenzhixin.net.cn/assets/bootstrap/css/bootstrap.min.css">

<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.18.3/extensions/filter-control/utils.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/bootstrap-table.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/locale/bootstrap-table-pl-PL.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/filter/bootstrap-table-filter.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

<div  style="text-align: center">
<h1>Adventures</h1>
</div>



<table id="table" class="table-striped" 
           data-toggle="table"
           data-search="true"
           data-filter-control="true">
    <thead>
        <tr >
            <th class="th-sm" data-field="name" data-filter-control="input" data-sortable="true">
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th class="th-sm" data-field="address" data-filter-control="input" data-sortable="true">
                @Html.DisplayNameFor(model => model.Address)
            </th>

            <th class="th-sm" data-field="country" data-filter-control="input" data-sortable="true"> 
                @Html.DisplayNameFor(model => model.Country)
            </th >

            <th class="th-sm" data-field="city" data-filter-control="input" data-sortable="true">
                @Html.DisplayNameFor(model => model.City)
            </th>

            <th class="th-sm" data-field="promotionalDescription" data-filter-control="input" data-sortable="true">
                @Html.DisplayNameFor(model => model.PromotionalDescription)
            </th>

            <th class="th-sm" data-field="averageScore" data-filter-control="input" data-sortable="true">
                @Html.DisplayNameFor(model => model.AverageScore)
            </th>
            @if (Model.Count()!=0){
            <th></th>
            }
        </tr>
    </thead>
    
    <tbody class="table table-striped">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PromotionalDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AverageScore)
            </td>
                @if (Model.Count() != 0)
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
       
            </td>
            }
        </tr>
}
    </tbody>
</table>



    <a  class="btn btn-dark mt-2" asp-action="Create">Create new adventure</a>