@model IEnumerable<IsaProject.Models.ScheduledAppointment>

@{
    ViewData["Title"] = "GetMyReservation";
}

<h1>Reservation</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfPeople)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntityID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfPeople)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntityID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @if ((item.Start - DateTime.Now).Days > 3)
                {
                    <button type="submit" onclick="cancel(@item.Id)"> Cancel reservation </button>
                }
            </td>

        </tr>
}
    </tbody>
</table>


<script >
    function cancel(id) {
        $.ajax({
        // do the rest of work here
        type: "POST",
        data: {id: id},
        url: '@Url.Action("CancelReservation", "Appointments")',
        async: true
    });
    }
</script>
