@model IEnumerable<IsaProject.Models.ScheduledAppointment>

@{
    ViewData["Title"] = "GetMyHistoryReservation";
}

<h1>Reservation history</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfPeople)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntityID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfPeople)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntityID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
           

        </tr>
}
    </tbody>
</table>