@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@using Microsoft.AspNetCore.Identity
@using IsaProject.Models.Entities.Users
@model IEnumerable<IsaProject.Models.DTO.AppointmentDTO>

@{
    ViewData["Title"] = "GetAvailableShips";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Ships</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AverageScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rules)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.AverageScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rules)
            </td>
             <td>
                @Html.DisplayFor(model => item.Price)
            </td>
            <td>
                @Html.DisplayFor(model => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(model => item.StartDate)
            </td>
            <td>
                    <a asp-action="TakeAppointment" asp-route-id="@item.Id">Schedule</a>
            </td>
        </tr>
}
    </tbody>
</table>
