@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@using IsaProject.Models.Users
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@model IEnumerable<IsaProject.Models.Entities.FastReservation>

@{
    ViewData["Title"] = "GetFree";
}

<link href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css" rel="stylesheet">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/bootstrap-table.min.css">
<link rel="stylesheet" type="text/css" href="http://bootstrap-table.wenzhixin.net.cn/assets/bootstrap/css/bootstrap.min.css">

<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.18.3/extensions/filter-control/utils.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/bootstrap-table.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/locale/bootstrap-table-pl-PL.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/filter/bootstrap-table-filter.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

<div  style="text-align: center">
<h1>Fast reservations</h1>
</div>

<table id="table" class="table-striped" 
           data-toggle="table"
           data-search="true"
           data-filter-control="true">
    <thead>
        <tr>
            <th class="th-sm" data-field="newPrice" data-filter-control="input" data-sortable="true">
                @Html.DisplayNameFor(model => model.NewPrice)
            </th>
            <th class="th-sm" data-field="start" data-filter-control="input" data-sortable="true">
                @Html.DisplayNameFor(model => model.Start)
            </th>
            <th class="th-sm" data-field="durationDays" data-filter-control="input" data-sortable="true">
                @Html.DisplayNameFor(model => model.DurationDays)
            </th>
            <th class="th-sm" data-field="maxNumberOfPeople" data-filter-control="input" data-sortable="true">
                @Html.DisplayNameFor(model => model.MaxNumberOfPeople)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NewPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DurationDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxNumberOfPeople)
            </td>
            <td>
                <a asp-action="TakeAppointment" asp-route-id="@item.Id">Schedule</a>
            </td>
            
        </tr>
}
    </tbody>
</table>
